.botao {
    background-color: #282b33;
    min-width: 3rem;
    min-height: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    margin-left: .5rem;
    border-radius: 0.5rem;
    border: none;
}

.botaoVermelho {
    color: #e18a8c;
}

.botaoVerde {
    color: #25fed6;
}

@media only screen and (min-width: 400px) {
    .botao {
        margin-top: 1rem;
        margin-left: 1rem;
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
    }
}

@media only screen and (min-width: 650px) {
    .botao {
        
        margin-top: 1.5rem;
        margin-left: 2rem;
        width: 7rem;
        height: 5rem;
        font-size: 3rem;
    }
}