.tela {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #22252d;
    height: 100vh;

}

.telaDisplay {
    color: white;
    display: flex;
    justify-content: right;
    margin-right: 3rem;
    font-size: 2.5rem;
    margin-bottom: 0rem;
}

@media only screen and (min-width: 400px) {
    p {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 650px) {
    p {
        font-size: 4rem;
    }
}